<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unique Aesthetics</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="links-container">
             <li class="link-item"><a href="/home" class="link active">Home</a></li>
             <li class="link-item"><a href="/products" class="link">Products</a></li>
             <li class="link-item"><a href="/aboutus" class="link">About</a></li>
             <li class="link-item"><a href="/contactus" class="link">Contact</a></li>
             <li class="link-item"><a href="/auth/login" class="link">Login</a></li>
             <li class="link-item"><a href="/auth/signup" class="link">Signup</a></li>
        </ul>
        <div class="user-interactions">
             <div class="cart">
               <a href="/cart">
                  <img src="/statics/cart-1.png" class="cart-icon">
                  <span class="cart-item-count">00</span>
               </a>
             </div>
             <div class="user">
                  <img src="/statics/user-2.png" class="user-icon" alt="">
             </div>
        </div>
   </nav>
</body>