<%- include('partials/header.ejs') %>

<!-- body -->
<header>

   

    <div class="dababy">
        <img src="/dababy.png" alt="">
    </div>

    <form action="/auth/logout?_method=DELETE" method="POST">
        <button type="submit">Logout</button>
    </form>
    

</header>

<%- include('partials/footer.ejs') %>