<%- include('partials/header.ejs') %>

<!-- body -->
<header>


    <div class="body_container">

        <%- include('partials/product_main.ejs') %>
        
    </div>


</header>

<%- include('partials/footer.ejs') %>