@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

body {
  background-color: #EAEDED;
  overflow-x: hidden;
}



.main_body_container {
  width: 100%;
  position: relative;
  top: 70px;
}

.secondary_nav_bar {
  background-color: #232F3E;
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
}

.text-formatting {
  color: white;
}

.elements-container {
  min-width: 1650px;
  max-width: 1800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px;
  padding-right: 0;
}

.block-text-formatting {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.block-image {
  width: 350px;
  height: 300px;
}

.block {
  background-color: white;
  width: 350px;
  padding: 20px;
  margin: 10px;
}

.block-4 {
  background-color: white;
  width: 350px;
  padding: 20px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  inline-size: 150px;
  overflow-wrap: break-word;
}

.block-4-image {
  width: 150px;
}

.link-formatting {
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.block-scroll {
  max-width: 1800px;
  margin: 10px;
  padding: 20px;
  background-color: white;
}

.block-scroll .block-scroll-text-formatting {
  font-size: 20px;
  font-weight: bold;
}

.block-scroll .block-small {
  width: 266px;
  text-align: center;
  padding-bottom: 20px;
}

.block-scroll .block-small-image {
  max-width: 166px;
  height: 200px;
  background-color: lightgray;
}

.block-scroll .block-red-text {
  color: white;
  background-color: #CC0C39;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.block-scroll-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: scroll;
  max-width: 1580px;
}

.upper_footer {
  background-color: white;
  width: 100%;
  padding: 25px;
}

.container_upper_footer {
  border-top: 1px lightgray solid;
  border-bottom: 1px lightgray solid;
  padding: 25px;
  width: 100%;
  text-align: center;
}

.yellow_button {
  background-color: orange;
  border: 0;
  border-radius: 2px;
  font-weight: bold;
  font-size: 15px;
  width: 200px;
  height: 35px;
  margin: 15px;
}

.a_container_footer {
  width: 100%;
  background-color: #37475A;
  padding: 15px;
  text-align: center;
}

.a_container_footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.secondary_footer {
  width: 100%;
  background-color: #232F3E;
  padding: 25px;
  text-align: center;
}

.secondary_footer #language {
  color: white;
  background-color: #232F3E;
  padding: 10px;
  margin-left: 20px;
}

.secondary_footer .list_count {
  padding: 10px;
  color: white;
  font-size: 11px;
  word-spacing: 10px;
}

.final_footer {
  width: 100%;
  background-color: #131A22;
  padding: 25px;
  padding-top: 70px;
  text-align: center;
  color: white;
}

.image_container_products {
  width: 166px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-image {
  max-width: 166px;
  height: 130px;
  background-color: lightgray;
}

.block-small-products {
  width: 266px;
  padding-bottom: 20px;
}

.link_container_products {
  height: 60px;
}
/*# sourceMappingURL=main.css.map */